.UserBoard{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 10px 5px 5px #1a1a1a;
    background-color: hwb(60 95% 3%);
    color: #1a1a1aed;
    height: 305px;
    width: 271px;
    box-sizing: border-box;
}

button{
    margin-left: 2px;
    margin-right: 2px;
    background-color: #1a1a1a !important;
    color: hwb(60 95% 3%) !important;
}

.activeUser{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 10px 5px 5px green !important;
    background-color: hwb(60 95% 3%);
    color: #1a1a1aed;
    height: 305px;
    width: 271px; 
    box-sizing: border-box;


}

.winBoard{
    justify-content: center;
}

.winBoard > button{
    margin-bottom: 20px;

}

